.pageWrapper {
    position: relative;
  }
  
  .backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./images/background/background_image.jpg');
    background-size: cover;
    filter: blur(5px); /* Ajusta el valor del desenfoque según tus necesidades */
    opacity: 0.8; /* Ajusta la opacidad según tus necesidades */
  }